@model List<Timesheets.Models.ProjectInfo>

<table id="projectinfo">
    <tr>
        <th>Project Name</th>
        <th>Hours</th>
        <th>Name</th>
        <th>Date</th>
    </tr>
    @if (@Model != null)
    {
        @foreach (var projectInfo in @Model)
        {
            <tr>
                <td>@projectInfo.Project</td>
                <td>@projectInfo.TotalHours</td>
                <td colspan="2"></td>
            </tr>
            @foreach (var workers in @projectInfo.Workers)
            {
                <tr>
                    <td></td>
                    <td>@workers.HoursWorked</td>
                    <td>@workers.Name</td>
                    <td>@workers.Date</td>
                </tr>
            }
        }
        
    }
</table>